* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    /* position: fixed; */
    overflow-x: hidden;


}

main {
    background-color: rgb(34, 36, 40);
    color: white;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    padding-top: 3%;

}

.icon {
    justify-content: start;

}

.hptd {

    justify-content: end;
}

.navu {
    color: white;
    text-decoration: none;
    padding-left: 50px;
}

.photu {
    display: flex;
    justify-content: space-between;
}

.mid {
    padding-left: 10%;
    padding-top: 5%;

}

#india {
    font-size: 22px;
    color: #80a3ea;
}

#pos {
    font-size: 40px;
    color: rgb(255, 255, 255);
}

#para {
    font-size: 18px;
    color: rgb(255, 255, 255);
    padding-top: 16px;
    padding-bottom: 20px;
}

#learnmore {
    font-size: 16px;
    text-decoration: none;
    border-radius: 10px;
    padding: 7px 7px;
    width: 100px;
    color: white;
    background-color: #0055ff;

}

#tblc {
    font-size: 22px;
    padding-top: 5%;
    justify-content: center;
    padding-left: 30%;
}

.imgs1 {
    display: flex;
    padding-top: 3%;
    justify-content: space-evenly;
    padding-left: 100px;
    padding-right: 100px;

}

.imgs2 {
    display: flex;
    padding-top: 3%;
    justify-content: space-evenly;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 8%;

}

.bgcolor {
    background-color: rgb(226, 230, 237);
}

.bmg {
    font-size: 30px;
    color: #082449;
    padding-top: 10%;
    justify-content: flex-start;
    margin-left: 10%;
    padding-bottom: 5%;
}

.imgs3 {

    display: flex;
    justify-content: space-evenly;
    margin-left: 5%;
    padding-top: 5%;
    padding-bottom: 2%;

}

#bgimg {

    background-image: url(bg_circular_dotted_white.png);
    background-size: cover;
    background-repeat: no-repeat;

}

.text {
    font-size: 25px;
    color: #234ea4;
    display: flex;
    justify-content: space-evenly;
    padding-left: 5%;
    padding-bottom: 1%;
}

.text2 {
    font-size: 10px;
    color: #234ea4;
    display: flex;
    justify-content: space-evenly;
    /* margin-left: 2%; */
    padding-left: 5%;
    padding-bottom: 1%;


}

.text3 {
    font-size: 10px;
    color: #000000;
    display: flex;
    justify-content: space-evenly;
    padding-left: 5%;
    padding-bottom: 10%;
    margin-right: 5%;
}

#etg {
    font-size: 30px;
    color: rgb(255, 255, 255);
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.bgcol {
    background-color: rgb(34, 36, 40);
}

#imgg {
    padding-top: 5%;
    padding-left: 10%;
    padding-bottom: 1%;
}

.p {
    letter-spacing: 10%;
    justify-content: space-evenly;
    padding-top: 5%;
    padding-left: 10%;
    padding-bottom: 2%;

}

#line1 {
    font-size: 20px;
    color: #80a3ea;
    justify-content: space-evenly;
    padding-left: 10%;
    padding-bottom: 2%;
}

.p1 {
    font-size: 15px;
    color: white;
    letter-spacing: 10%;
    justify-content: space-evenly;
    padding-left: 10%;
    padding-bottom: 2%;
}
.foots{
    background-color: rgb(226, 230, 237);
    display: flex;
    justify-content: space-evenly;
    padding-top: 10%;
}
.first{
    padding-bottom: 10%;
}
.second{
    padding-bottom: 10%;
}
.end1{
    display: flex;
    justify-content: space-between;
    padding-right: 2%;
    padding-bottom: 5%;
    
}
.end2{
    display: flex;
    justify-content:space-evenly;
    
}
footer{
    padding-bottom: 10%;
    background-color: rgb(226, 230, 237)
}